/* normalize.css */

/* Remove default margin */
html, body {
    margin: 0;
    padding: 0;
  }
  
  /* Better box sizing */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Remove default heading margins */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  /* Remove default paragraph margin */
  p {
    margin: 0;
  }
  
  /* Remove default list styles */
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Remove default link styling */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Make images responsive */
  img {
    max-width: 100%;
    display: block;
  }
  }
